.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%; //scrollbalken mitberechnend
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 100vh;
    }
}

.start-label-box {
    position: absolute; //überwerfen
    left: 0;
    right: 0;
    bottom: 10%;
    display: flex;
    justify-content: center;
    img {
        width: 30vw;
        height: auto;
        &:hover {
            //hervorheben
            filter: brightness(1.25); //erhellen 
            cursor: pointer;
        }
    }
}